{% extends "layout.html" %}

{% block title %}
    Increase Cash
{% endblock %}

{% block main %}
    <form action="{{ url_for('addcash') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="cash_add" placeholder="Please enter ammount you want to add" type="number"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Add Cash</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
